@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #338CF4;
}

.container {
    width: 90vmin;
    padding: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
    background-color: #FFFFFF;
}

.container .titulo {
    background-color: #CCCCCC;
    padding: 3px 0px;
    margin-top: 0px;
    border-radius: 10px 10px 0 0;
    display: flex;
}

.container span {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
}

.editor {
    padding: 5px 30px 40px 30px;
}

.opcoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

button {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #FFFFFF;
    outline: none;
    color: #020929;
    cursor: pointer;
}

select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}

.opcoes label,
.opcoes select {
    font-family: 'Poppins', sans-serif;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 3px #020929;
}

#caixa-texto {
    margin-top: 10px;
    border: 1px solid #DDDDDD;
    padding: 20px;
    height: 50vh;
    overflow: scroll;
    white-space: nowrap;
}

.opcoes-cores{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opcoes-cores label{
padding: 0 5px;
}

.ativo {
    background-color: #E0E9FF;
}